/************************************************
                企業とサービス
*************************************************/
.service {
    /*文字の中央揃え*/
    text-align: center;
    /*囲み*/
    border: 2px solid black;
    /*間隔*/
    margin: 5%;
    /*余白*/
    padding: 5%;
}

/*企業*/
.company {
    /*左揃え*/
    float: left;
}

/**************************************************
            競合他社
**************************************************/
.conflict-content {
    /*中央揃え*/
    width: 80%;
    margin: 0 auto;
    /*文字の中央揃え*/
    text-align: center;
}

.conflicts {
    /*flexbox*/
    display: flex;
    /*中央揃え*/
   justify-content: center;
}

/**************************************************
                用語解説
**************************************************/
.term-content {
    /*中央揃え*/
    width: 80%;
    margin: 0 auto;
    /*文字の中央揃え*/
    text-align: center;
    /*余白*/
    padding-top: 10%;
}

.terms {
    /*flexbox*/
    display: flex;
    /*中央揃え*/
    justify-content: center;
}


/************************************************
                意見投稿欄
*************************************************/
.comment-index {
    /*文字の中央揃え*/
    text-align: center;
}