/*****************************************************************
                          サービス一覧全体
*****************************************************************/
.services {
    /*中央揃え*/
    text-align: center;
}

/*****************************************************************
                            サービス一覧
******************************************************************/
.service {
    /*囲み*/
    border: 2px solid black;
    /*間隔*/
    margin: 20px auto;
    
    /*余白*/
    padding: 50px;
}

/*企業について*/
.company {
    float:left;
}

/*******************************************************************
                        ペジネーションリンク
********************************************************************/
.paginate {
    /*中央揃え*/
    margin: 0 auto;
    width: 30%;
}